/* Add CSS Styling */
.odds {
    background-color: #df6f6d;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: #0a16f7;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: #63ca67;
    font-size: 24px;
    font-weight: bold;
}

